/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Diretório de dependências do Bundler
/vendor/

# Arquivos de compilação do Ruby
*.gem

# Diretório de cache e logs
*.log
*.tmp

# Diretórios do RSpec
coverage/
.rspec_status

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Configurações de ambiente
.env
